services:
  sonarqube:
    container_name: sonarqube
    image: sonarqube:25.4.0.105899-community
    hostname: sonarqube
    ports:
      - "9000:9000"
  postgres:
    image: postgres:17.4
    restart: always
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    healthcheck:
      test: pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB
      interval: 10s
      timeout: 5s
      start_period: 10s
      retries: 5
  fair_split:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    depends_on:
      - postgres
    env_file:
      - ../.env
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/${DB_NAME}
    ports:
      - "8080:8080"
volumes:
  postgres_data: